# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Files and environment
.env
.env.local
.env.development
.env.test
.env.production

# System files 
.DS_Store
Thumbs.db

# test Coverage
coverage/

# Cache
.cache/
